#defeat{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#defeat{
font-size: 60px;
color: aqua;
margin-bottom: 40px;



}